* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input:focus{
  outline: none;
}
ul {padding-left: 0;}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Archivo';
  font-weight: 400;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #fff;
  color: #444;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Oswald';
}

h1 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 15px;
  color: rgb(23, 39, 66);
}

h2 {
  font-size: 35px;
  color: #172742;
  text-align: center;
  color: #090928;
  font-size: 50px;
  line-height: 60px;
}

h3 {
  color: #fff;
  font-family: 'Oswald';
  font-size: 30px;
  line-height: 1;
}

h4 {
  font-size: 35px;
  font-family: 'Montserrat-Medium';
}

/*---------fonts are here-------------*/
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
    url('../fonts/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
    url('../fonts/Oswald-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Light.woff2') format('woff2'),
    url('../fonts/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
    url('../fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
    url('../fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*---------Header starts here----------*/
.logo img {
  width: 200px;
}
.header .container-fluid {
  padding: 0 39px;
}
.navigation-list {
  gap: 62px;
  margin-bottom: 0 !important;
}

.header {
  background-color: #fff;
  padding: 32px 0;
  
  z-index: 999;
}
.fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.header a {
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

.phoneNumber {
  font-size: 27px;
}
.phoneNumber i {
  background: linear-gradient(204.31deg, #43baff 0%, #7141b1 73.56%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation-list a:hover {
  color: #43baff !important;
}
/*---------Banner starts here----------*/
.banner {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 10px;
  width: calc(100% - 71px);
}
.banner img {
  clip: rect(0px, 646px, 728px, -2px);
  position: absolute;
  border-bottom: 7px solid #8000ff;
  right: -130px;
}
.col-left {
  padding: 130px 0 130px 20px;
  max-width: 564px;
}

.col-left h1 {
  font-size: 65px;
  line-height: 77px;
  padding-bottom: 50px;
  font-weight: 400;
}

.col-left p {
  font-size: 18px;
  max-width: 510px;
  line-height: 30px;
}

.banner-buttons {
  gap: 20px;
  padding: 30px 0 0 0;
}

.buttonsMain {
  color: #fff;
  width: 245px;
  height: 65px;
  font-weight: 700;
  transition: 0.2s all ease-in-out;
  border: transparent;
  border-radius: 5px;
  background-color: #43baff;
}

.buttonsMain:hover {
  background-color: #7141b1;
}

.buttonSecondary {
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  padding: 0 20px;
  border: transparent;
}

.buttonSecondary:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*---------aboutus-row starts here----------*/
.aboutus-row {
  padding: 60px 0 30px 0;
}

.aboutus-box {
  background: url('https://www.clarklavey.com/wp-content/uploads/2020/09/0918_RenewalCampaign.png')
    no-repeat;
  background-size: cover;
  padding: 86px 0;
  border-radius: 30px;
}

.aboutus-row h2 {
  z-index: 9;
  font-weight: 400;
}

.aboutus-box:before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.5;
  border-radius: 30px;
  height: 100%;
  content: '';
  position: absolute;
  background-color: #090928;
}

.aboutus-box2 {
  border-radius: 20px;
  padding: 38px 45px 38px;
  background-color: #43baff;
}

.aboutus-box:hover h2 i {
  transition: 0.3s all ease-in-out;
}

.aboutus-box:hover h2 i {
  padding-left: 14px;
}

.clients-number {
  font-size: 53px;
}

/*---------social-media-row starts here----------*/
.social-media-row {
  padding: 90px 0;
}

.social-media-row i {
  padding-right: 5px;
}

.arrow-bounce i {
  animation: modeButton 3s ease-in-out infinite;
  font-size: 42px;
  top: -15px;
  left: -10px;
}

.arrow-bounce::before {
  top: -44px;
  left: -53px;
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 100%;
  border: 1px solid #eceef1;
}

.social-email {
  font-family: 'Oswald';
  font-size: 22px;
}

@keyframes modeButton {
  70% {
    top: -15px;
    opacity: 1;
  }

  95% {
    top: 30px;
  }

  100% {
    opacity: 0;
  }
}

/*---------services starts here----------*/
.services {
  background-color: #f7f7f7;
  padding: 84px 0;
}

.services .col-right {
  max-width: 499px;
}

.services .col-right h2 {
  font-size: 49px;
  text-align: left;
}
.services p {
  padding: 20px 0;
}
/* services row starts here --------------------- */
.services-row {
  position: relative;
  background-color: #f7f7f7;
  padding-bottom: 100px;
}
.col-right-successbarr label {
  padding: 0 0 10px 0;
}
.services-row:before {
  background: url(../images/banner-bg.jpg) left top no-repeat;
  background-size: cover;
  height: 420px;
  width: calc(100% - 71px);
  border-radius: 40px;
  content: '';
  position: absolute;
  left: 32px;
  right: 70px;
  top: 0;
  margin: 0 auto;
}

.services-row .container {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}

.services-row h2 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 1.2;
  padding: 70px 0;
}

.service-slider {
  position: relative;
  padding-bottom: 60px;
}

.service-slider .slick-slide {
  margin-right: 30px;
}

.services-card {
  padding: 65px 45px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 32px 0px rgb(199 199 199 / 25%);
  box-shadow: 0px 13px 32px 0px rgb(199 199 199 / 25%);
  min-height: 320px;
}

.service-icon {
  margin: 0 0 50px 0;
}

.service-descp h3 {
  color: #090928;
  font-size: 26px;
  max-width: 169px;
  line-height: 32px;
  margin-bottom: 50px;
}

.service-descp a {
  color: #090928;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.service-descp i {
  transition: all 0.3s ease-in-out;
}

.service-descp a:hover {
  color: #43baff;
}

.service-descp a:hover i {
  margin-left: 8px;
}

.service-slider .slick-prev,
.service-slider .slick-next {
  bottom: -55px;
  top: auto;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.service-slider .slick-prev {
  left: -100px;
}

.service-slider .slick-next {
  right: -100px;
}

.service-slider .slick-next:before,
.service-slider .slick-prev:before {
  color: #000;
  content: '\f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.service-slider .slick-prev:hover,
.service-slider .slick-next:hover {
  background-color: #43baff;
}

.service-slider .slick-next:hover:before,
.service-slider .slick-prev:hover:before {
  color: #fff;
}

.service-slider .slick-prev:before {
  content: '\f060';
}

.service-slider .slick-dots {
  display: flex;
  position: relative;
  top: 60px;
  width: 97%;
  height: 2px;
  z-index: 9;
  background-color: #ccc;
  margin: 0 auto;
}

.service-slider .slick-dots li.slick-active {
  background-color: #43baff;
}

.service-slider .slick-dots li,
.service-slider .slick-dots li button {
  width: 50%;
  height: 6px;
  border-radius: 0;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
  margin-top: -2px;
}

.service-slider .slick-dots li button {
  width: 100%;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.service-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}

/* services row ends here ----------------------- */

/* launched projects starts here ---------------- */
.launched-projects {
  position: relative;
  padding: 125px 0;
}

.launched-projects .container {
  padding: 0 60px;
  max-width: initial;
}

.launched-projects h2 {
  text-align: center;
  color: #090928;
  font-size: 50px;
  font-family: 'Montserrat-Medium' !important;
  line-height: 60px;
  padding: 0 0 75px 0;
}

.launched-projectcard {
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #f5f3f3;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
  margin-right: 20px;
}

.project-thumbnail {
  overflow: hidden;
}

.project-thumbnail img {
  width: 100%;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.launched-projectcard:hover .project-thumbnail img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project-descp {
  position: relative;
  padding: 35px 30px;
}

.project-descp h3 {
  color: #090928;
  font-size: 24px;
  line-height: 1;
  padding-bottom: 15px;
  max-width: 182px;
  text-transform: uppercase;
}

.project-descp span {
  color: #9c96a4;
  font-weight: 600;
}

.project-descp a {
  top: 50%;
  width: 72px;
  right: 30px;
  height: 72px;
  font-size: 20px;
  border-radius: 100%;
  border: 1px solid #f5f3f3;
  -webkit-transform: translateY(-50%) rotate(-30deg);
  transform: translateY(-50%) rotate(-30deg);
}

.project-descp a i {
  color: #030a39;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.launched-projectcard:hover .project-descp a i {
  color: #fff;
}

.launched-projectcard:hover .project-descp a {
  background-color: #7141b1;
}

.launched-projects .slick-prev,
.launched-projects .slick-next {
  bottom: -115px;
  top: auto;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f5f3f3;
}

.launched-projects .slick-prev {
  left: 0;
}

.launched-projects .slick-next {
  right: 0;
}

.launched-projects .slick-next:before,
.launched-projects .slick-prev:before {
  color: #000;
  content: '\f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.launched-projects .slick-prev:hover,
.launched-projects .slick-next:hover {
  background-color: #43baff;
}

.launched-projects .slick-next:hover:before,
.launched-projects .slick-prev:hover:before {
  color: #fff;
}

.launched-projects .slick-prev:before {
  content: '\f060';
}

.launched-projects .slick-dots {
  display: flex;
  position: relative;
  top: 60px;
  width: 85%;
  height: 2px;
  z-index: 9;
  margin: 0 auto;
  background-color: #ccc;
}

.launched-projects .slick-dots li.slick-active {
  background-color: #43baff;
}

.launched-projects .slick-dots li,
.launched-projects .slick-dots li button {
  width: 50%;
  height: 6px;
  border-radius: 0;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
  margin-top: -2px;
}

.launched-projects .slick-dots li button {
  width: 100%;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.launched-projects .slick-dots li.slick-active button:before {
  opacity: 1;
}

/* launched projects ends here ------------------ */
/* meet-us starts */
.meet-us h2 {
  width: 100%;
  max-width: 525px;
}

.meet-us .card-1 img {
  border-radius: 50%;
  margin: 0 auto;
}

.meet-us .card-1 {
  padding: 0;
  background-color: #fff;
  margin: 0 20px;
  position: relative;
  border-radius: 10px;
}
.meet-us .card-1::before {
  content: "";
  position: absolute;
  width: 1%;
  background: radial-gradient(circle, rgba(113, 66, 178, 1) 32%, rgba(91, 125, 216, 1) 70%, rgba(75, 166, 242, 1) 105%, rgba(77, 159, 238, 1) 122%);
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}

.meet-us .card-1:hover::before {
  display: block;
  transition: 0.5s ease-in-out all;
}
.meet-us .card-1::after {
  content: "";
  position: absolute;
  background: rgb(113, 66, 178);
  width: 100%;
  background: radial-gradient(circle, rgba(113, 66, 178, 1) 32%, rgba(91, 125, 216, 1) 70%, rgba(75, 166, 242, 1) 105%, rgba(77, 159, 238, 1) 122%);
  height: 1%;
  left: 0;
  bottom: 0;
  display: none;
}

.meet-us .card-1:hover::after {
  display: block;
  transition: 0.5s ease-in-out all;
}

.meet-us .card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}
.meet-us .row {
  margin: 0;
}

.meet-us .author-name {
  margin: 40px 0 20px 0;
}

.meet-us .card-1 .author-post {
  color: #9c96a4;
  margin-bottom: 25px;
}

.meet-us .btn-wrapper {
  outline: 2px solid #f5f5f5;
}

.meet-us .share i:before {
  color: #9c96a4;
}

.meet-us .fa-share-alt:before {
  color: #9c96a4;
}

.meet-us .env-btn {
  border-right: 2px solid #f5f5f5;
  cursor: pointer;
}
.meet-us .share-btn {
  cursor: pointer;
}

.meet-us .env-btn:hover {
  background-color: #43baff;
  transition: 0.4s ease-in-out all;
}
.meet-us .env-btn:hover i:before{
  color: #fff;
  transition: 0.3s ease-in-out all;
}
.meet-us .share-btn:hover i:before{
  color: #fff;
  transition: 0.3s ease-in-out all;
}
.meet-us .share-btn:hover {
  background-color: #43baff;
  transition: 0.4s ease-in-out all;
}
.meet-us .share-btn:hover .fa-share-alt{
  color: red !important;
}
.meet-us {
  background-color: #f7f7f7;
}
.meet-us .slick-prev:before {
  content: '\f060';
  font-family: 'FontAwesome';
  font-size: 25px;
  line-height: 1;
  padding: 15px;
  border-radius: 100%;
  background: #fff;
  color: #000;
  opacity: 100%;
}

.meet-us .slick-prev,
.slick-next {
  width: 52px;
  height: 52px;
}

.meet-us .slick-prev {
  left: -55px;
  top: 230px;
}

.meet-us .slick-next:before {
  content: '\f061';
  font-family: 'FontAwesome';
  font-size: 25px;
  line-height: 1;
  padding: 15px;
  border-radius: 100%;
  background: #fff;
  color: #000;
  opacity: 100%;
}

.meet-us .slick-next {
  right: -55px;
  top: 230px;
}

.meet-us .join-us {
  font-size: 18px;
  line-height: 1;
}

.meet-us .join-us .team {
  color: #7141b1;
  font-weight: 700;
}
.meet-us .slick-next:hover:before {
  background-color: #43baff;
  color: #fff;
  transition: .2s all ease-in-out;;
}
.meet-us .slick-prev:hover:before {
  background-color: #43baff;
  color: #fff;
  transition: .2s all ease-in-out;;
}

/* meet-us ends*/

/*---------our-reviews-row starts here--------------*/
.our-reviews-row::before {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  height: 420px;
  width: calc(100% - 71px);
  border-radius: 40px;
  content: '';
  position: absolute;
  left: 32px;
  right: 70px;
  top: 0;
  margin: 0 auto;
}

.our-reviews-row .container {
  padding: 115px 0 67px 0px;
}

.our-reviews-row {
  background-color: #f7f7f7;
}

.our-reviews-slider {
  margin-top: 78px;
  max-width: 1290px;
  gap: 10px;
  margin: 0 auto;
  height: 560px;
  border-radius: 33px;
  border-left: 4px solid rgb(0, 0, 255);
  border-bottom: 4px solid rgb(0, 0, 182);
  border-right: 4px solid #8000ff;
}
.rating-stars {
  padding: 30px 0 0 0;
}

.rating-stars i {
  color: #ffa439;
}

.rating-description span {
  color: #090928;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.rating-description p {
  padding: 30px 0;
  max-width: 891px;
  color: #090928;
  font-size: 24px;
  line-height: 38px;
  margin: 0 auto;
}

.our-reviews-slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #6f42c1;
  height: 12px;
  margin: 0 5px;
  top: -42px;
  color: #000;
  padding: 0;
  cursor: pointer;
}

.our-reviews-slider .slick-active button::before {
  background-color: rgb(0, 0, 182);
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.alithemes-row {
  padding: 0 0 33px 0;
}

.alithemes-row .container {
  max-width: 1311px;
}
/*-----our latest blogs-----*/
.blogs-row {
  padding: 106px 0 40px 0;
}
.blogs-row h2 {
  padding:  0 0 52px 0;
}
.blogs-row .launched-projectcard:hover .project-descp a {
  background-color: initial;
}
.blogs-update a {
  font-size: 23px;
  border: initial;
}
.blogs-row .project-descp h3 {
  max-width: 396px !important;
  line-height: 29px;
  transition: .1s all ease-in-out !important;
  padding-bottom: initial !important;
  transform: initial !important;
}
.blogs-row .project-descp h3 a:hover {
  text-decoration: underline !important;
}
.blogs-row .project-descp a {
  width: initial;
  height: initial;
  -webkit-transform:initial;
  transform: initial;
}
.blogs-row .container {
  max-width: 1270px;
}
.blogs-update p {
  padding: 10px 0 0 0;
}
.blogs-img-top {
  top: 20px;
  left: 30px;
  z-index: 999;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #7141B1;
}
.blogs-row span {
  font-weight: 400;
}
/*-----------subscribe-row starts here-----------*/
.subscribe-row  {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: calc(100% - 71px);
}
.subscribe-row .container-fluid {
  padding: 91px 0;
}
.subscribe-row button {
  top: 10px;
  right: 10px;
  color: #fff;
  height: 56px;
  width: 180px;
  border: 1px solid transparent;
  position: absolute;
  border-radius: 5px;
  background-color: #090928;
  transition: .2 all ease;
}
.subscribe-row button:hover {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
.subscribe-row input {
  color: #090928;
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 5px;
  padding: 15px 15px 15px 30px;
}
/*--------footer starts here--------*/
.footer {
  background-color: #090928;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin: 0 auto;
  width: calc(100% - 71px);
}
.QuickLinks {
  transition: .2s all ease-in-out;
  color: #B5B5D1;
}
.footer li:hover{
  color: #43baff !important;
}
.QuickLinks:hover {
  color: #43baff;
}
.footer h4 {
  font-size: 20px;
}
.footer li {
  color: #B5B5D1 !important;
  font-weight: 300;
  line-height: 3;
  transition: .2s all ease-in-out;
}
.footer .container-fluid {
  padding: 71px 0 30px 0;
}
.bottom-footer {
  margin: 30px 0px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.bottom-footer p {
  font-weight: 300;
  font-size: 13px;
  padding-top: 30px;
}
@media (max-width: 1537px) and (min-width: 1400px) {
  .meet-us .slick-prev {
    left: 0 !important;
    top: 100%;
  }
  .meet-us .slick-next {
    right: 0 !important;
    top: 100%;
}
}
@media (max-width: 1400px) {
  .container {
    padding: 0 40px;
  }
  .navigation-list {
    gap: 28px;
  }
  .meet-us .slick-next {
    right: 0 !important;
    top: 100%;
}

.meet-us .slick-prev {
    left: 0 !important;
    top: 100%;
}
}
  .col-right-banner  div{
    padding-top: 150px;
  }
  .col-right-banner img {
    width: 100%;
  }
  .col-left h1 {
    font-size: 59px;
    line-height: 65px;
  }
  .service-slider .slick-dots {
    width: 85%;
  }
  .service-slider .slick-prev {
    left: 0;
  }
  .service-slider .slick-next {
    right: 0;
  }
@media (max-width: 1024px) {
  .container {
    max-width: 1327px;
  }
  .col-right-banner  div{
    padding-top: initial;
  }
  .header ul li {
    position: relative;
  }
  .form {
    display: initial !important;
  }
  .subscribe-row input {
    width: 97%;
  }
  .form button {
    position: initial !important;
  }
  .navigation-list a:hover {
    color: #8a8181 !important;
  }
  .navigation-list {
    gap: 13px;
  }
  .services h2 {
    text-align: left;
  }
  .navigation-list a {
    font-size: 15px;
  }

  .phoneNumber a {
    font-size: 22px;
  }

  .col-left {
    max-width: initial;
    font-size: 22px;
  }

  .col-left p {
    max-width: initial;
  }

  .services-row h2, .our-reviews-row h2,.blogs-row h2, .subscribe-row h2 , .services .col-right h2,.meet-us h2,
  .launched-projects h2 {
    font-size: 28px;
    line-height: 1.3;
  }

  .service-slider .slick-dots,
  .launched-projects .slick-dots {
    width: 75%;
  }

  .service-slider .slick-prev {
    left: 0;
  }

  .service-slider .slick-next {
    right: 0;
  }
}

@media (max-width: 780px) {
  .launched-projects .container,
  .services-row .container {
    padding: 0 30px;
  }
  .meet-us .card-1 img {
    width: 89%;
  }
  .meet-us .join-us {
    padding-top: 36px;
  }
  .arrow-bounce i {
    font-size: 31px;
    top: -32px;
    left: 2px;
  }
  .header ul li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -40px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 111%;
}
.nav {
  overflow-x: hidden;
}
  .arrow-bounce::before {
    top: -44px;
    left: -32px;
    content: '';
    width: 99px;
    height: 99px;
  }
  .services .col-right {
    max-width: initial;
  }
  .services img {
    margin-top: 20px;
  }
  .social-media-row {
    padding: 89px 0 20px 0;
  }
  .bounce-main {
    order: 3;
  }
  .aboutus-row h2 {
    font-size: 27px;
  }
  .clients-number {
    font-size: 34px;
}
  .social-links {
    justify-content: center;
  }
  .social-email-main {
    justify-content: center !important; 
    padding-bottom: 50px;
  }
  .aboutus-box, .aboutus-box:before {
    border-radius: 19px;
  }
  .blogs-update a {
    font-size: 14px;
  }
  .project-descp {
    padding: 35px 31px;
    max-width: 324px;
  }
  .blogs-row .project-descp h3 {
    line-height: 17px;
  }
  .blogs-bottom {
    justify-content: initial !important;
    gap: 20px;
  }
  .blogs-update p {
    font-size: 12px;
  }
  .nav {
    justify-content: center;
    margin-top: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    padding-left: 40px;
    z-index: 2;
    display: none;
  }
  .navigation-list {
    display: initial !important;
  }
  .responsive-button {
    display: block !important;

    right: 79px;
    top: 45px;
  }
  .navigation-list a {
    font-size: 18px;
    line-height: 32px;
    color: #000 !important;
  }
  .header .container {
    display: block !important;
  }
  .btn1 {
    top: -12px;
    transition: 0.4s;
  }

  .btn2 {
    top: 0;
    transition: 0.4s;
  }

  .btn3 {
    bottom: -16px;
    transition: 0.4s;
  }

  .responsive-button span {
    width: 35px;
    height: 5px;
  }

  .phoneNumber {
    display: none;
  }

  .services-row:before {
    left: 10px;
    right: 10px;
    width: calc(100% - 40px);
  }

  .service-icon {
    display: flex;
    justify-content: center;
  }

  .service-descp h3 {
    max-width: initial;
  }

  .service-descp {
    text-align: center !important;
  }

  .services-row h2,
  .launched-projects h2 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .services-row h2 br,
  .launched-projects h2 br {
    display: none;
  }
  .services p {
    font-size: 12px;
    padding: 10px 0;
  }
  .service-slider .slick-slide {
    margin-right: 0;
  }

  .service-slider .slick-dots,
  .launched-projects .slick-dots {
    width: 55%;
  }
  .col-left h1 {
    font-size: 34px;
    line-height: 43px;
    padding-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .buttonsMain {
    font-size: 18px;
    font-weight: 500;
    width: 215px;
    height: 64px;
  }
  .col-left h1 {
    font-size: 20px;
    line-height: 33px;
}
.services-row h2,  .our-reviews-row h2, .blogs-row h2, .subscribe-row h2, .services .col-right h2, .launched-projects h2,.meet-us h2 {
  font-size: 25px;
  line-height: 1.3;
}
.logo img {
  width: 154px;
}
.blogs-row span {
  font-size: 13px;
}
.col-left {
  padding: 79px 0 88px 0;
}
.banner .container {
  padding: 0 10px;
}
  .header ul li:after {
    width: 111%;
}
.footer h4 {
  font-size: 10px;
}
.footer li {
  font-size: 13px;
}
.footer .container-fluid {
  padding: 30px 10px;
}
}
/*Custom progress bar*/
.progress .progress-bar {
  box-shadow: none;
  animation: animate-positive 2s;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}
.change .btn1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .btn2 {
  opacity: 0;
}

.change .btn3 {
  transform: translate(0, -11px) rotate(45deg);
}
/*bounce animation*/
.bounce:hover {
  animation: bounce 2s ease infinite;
  -webkit-animation: bounce 1s ease;
  animation: bounce 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes bounce {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*loader*/
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
